@import '@styles/base/variables';
@import '@styles/base/mixin';

.nav {
  position: fixed;
  width: 90vw;
  height: 8vh;
  padding: 0 5vw;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  a {
    text-decoration: none;
    color: black;
    font-size: 24px;

    @include Small {
      font-size: 16px;
    }
  }

  ul {
    width: 40vw;
    height: 8vh;
    display: flex;
    justify-content: flex-end;

    @include X-Large {
      width: 60vw;
    }

    @include Large {
      width: 65vw;
    }

    @include Small {
      width: 70vw;
    }

    li {
      width: fit-content;
      height: 100%;
      margin: 0 2%;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;

      a,
      p {
        font-size: 18px;

        @include Large {
          font-size: 14px;
        }

        @include Small {
          font-size: 12px;
        }
      }

      &:hover p,
      &:hover a {
        transition: 0.1s;
        padding-bottom: 2px;
        border-bottom: 3px solid $main-color-dark;
      }
    }

    .droup {
      .droupdown {
        position: fixed;
        display: flex;
        top: 8vh;
        left: 0;
        width: 100vw;
        padding-left: 73vw;
        transition: 0.3s;
        height: 0;
        overflow: hidden;
        background-color: rgb(238, 238, 238);

        ul {
          display: flex;
          flex-direction: column;
          text-align: left;
          height: 100%;
          width: 10%;

          @include Large {
            width: 15%;
          }

          &:nth-child(1) {
            border-right: 1px solid $main-color-dark ;
          }

          li {
            width: 100%;
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              font-size: 16px;
              border-bottom: none;
              width: fit-content;

              @include Large {
                font-size: 12px;
              }
            }

            &:hover a {
              border-bottom: 3px solid $main-color-dark ;
            }
          }
        }
      }

      &:hover .droupdown {
        transition-property:height;
        transition-duration: 0.5s;
        height: 100px;
        padding: 10px 0;
        padding-left: 73vw;

        @include Large {
          padding-left: 50vw;
        }
      }
    }
  }
}