@import "@/styles/base/variables";

%input {
  background-color: $mainColor;
  border: 1px solid $mainColor;
  border-radius: 5px;
  transition: 0.3s ease;

  &:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 0 1px 5px 0 $interactiveColor;
  }
}

%button {
  padding: 3px 10px 3px 10px;
  border-radius: 3rem;
  border: 1px solid $main-color;
  background-color: $main-color;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: white;
    background-color: $main-color-dark;
  }
}

%scale {
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%itemHover {
  transition: all 0.3s;

  &:hover {
    background-color: #dcdcdcb0;
  }
}

%itemModal {
  opacity: 0;
  position: absolute;
  display: flex;
  padding: 8px;
  background-color: white;
  color: #545454;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgb(154 154 154 / 20%);
  transition: all 1s;
}

%groupWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

%modelButton {
  margin-top: 20px;
  float: right;
  width: 130px;
  padding: 5px 0;
  border: none;
  border-radius: 30px;
  margin-left: 15px;
  cursor: pointer;
  font-size: $regularSize;
  background-color: $main-color;
}

%modelInput {
  width: 350px;
  height: 32px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 5px;
  outline: none;

  &:focus {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}