// color variables
$main-color:#A4C3B2;
$main-color-dark:#5e926a;
$mainColor: #dcdcdc;
$interactiveColor: #939393;

// typography variables
$smallSize: 14px;
$regularSize: 16px;
$bigSize: 18px;
$titleSize: 24px;
